
<div class="container">
  <div class="card">
   <div class="card-header">
    Add Port
   </div>
  <div class="card-body" style="width: 50%;align-content: center;">


        <div  class="form-group" >
          <label for="name">PORT TYPE</label>
          <select [(ngModel)]="selectedPortValue">
            <option value="DP">SEA PORT</option>
            <option value="DP">DRY PORT</option>
          </select>
        </div>
        <div  class="form-group" >
            <label for="name">SECTOR</label>
            <select  class="selectpicker dropdown mt-4 ml-3" id="type" data-live-search="true" [(ngModel)]="selectedSectorValue">
                <option *ngFor="let sec of secters " [value]="sec.id">{{sec.description}}</option>
             </select>
        </div>
        <div  class="form-group" >
            <label for="name">PORT NAME</label>
            <input
              type="text"
              class="form-control"
              id="portname"
              required
              [(ngModel)]="postPort.name"
              name="portname"
            />
          </div>
          <div  class="form-group" >
            <label for="name">PORT CODE</label>
            <input
              type="text"
              class="form-control"
              id="portcode"
              required
              [(ngModel)]="postPort.code"
              name="portcode"
            />
          </div>
          <div  class="form-group" >
            <label for="name">PORT description</label>
            <input
              type="text"
              class="form-control"
              id="portdesc"
              required
              [(ngModel)]="postPort.description"
              name="portdesc"
            />
          </div>
          <div  class="form-group" >
            <label for="name">ISO LOC CODE</label>
            <input
              type="text"
              class="form-control"
              id="portLoccode"
              required
              [(ngModel)]="postPort.isoLocode"
              name="portLoccode"
            />
          </div>
        <div  class="form-group" >
            <label for="name">COUNTRY</label>
            <select  class="selectpicker dropdown mt-4 ml-3" id="COUNTRY" data-live-search="true" [(ngModel)]="selectedCountryValue" (change)="FillState()">
                <option *ngFor="let sec of contryarr " [value]="sec.id">{{sec.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="name">STATE</label>
            <select  class="selectpicker dropdown mt-4 ml-3" id="STATE" data-live-search="true">
                <option *ngFor="let sec of statearr " [value]="sec.id">{{sec.name}}</option>
            </select>
        </div>

        <button (click)="createPort()" class="btn btn-success">Submit</button>
        
      </div>
      <br><br>
      <div *ngIf="submitted" class="btn btn-success">PORT created successfully
        
      </div>

      <h3> PORT LIST</h3>
     <ul class="heroes">
        <li *ngFor="let list of portarr">
       <a routerLink="/detail/{{list.id}}">
      <span class="badge">{{list.id}}</span> {{list.name}}
      </a>
        </li>
      </ul> 
<!-- 
      <table class="grid">
        <tr>
          <th >id</th><th>NAME</th><th>STATE</th>
        </tr>
        <tr *ngFor="let list of portarr" >
          <td>{{list.id}}</td><td>{{list.name}}{{list.code}}</td><td>{{list.stateName}}</td>
        </tr>
      </table> -->
      
      <div class="grid" >
        <div class="g-col-4">NAME</div>
        <div class="g-col-4">STATE</div>
        <div class="g-col-4">ID</div>
      </div>
      <div class="grid" *ngFor="let list of portarr">
        <div class="g-col-4">{{list.name}}{{list.code}}</div>
        <div class="g-col-4">{{list.stateName}}</div>
        <div class="g-col-4">{{list.id}}</div>
      </div>
      
      







  </div>
  
</div>
